:root {
  --header-height: 80px;
  --space-basis: 20px;
  --margin-text: 2.5rem;
  --border-color: rgb(212, 212, 212);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 1000px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  padding: 15px 20px;
  background-color: #1b71ff;
  color: white;
  text-align: center;
}

.button:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

/* UTILS */
.container {
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
}

.col-3 {
  width: calc(100% / 3);
}
/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px grey;
}

.header-content {
  min-height: var(--header-height);
  /* line-height: var(--header-height); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;

  /* debug */
  background-color: rgb(255, 255, 255);
}

.left-nav {
  display: flex;
  align-items: flex-end;
  margin-left: var(--space-basis);
}

nav li {
  padding: 0 var(--space-basis);
}

nav li:hover {
  text-decoration: underline;
}

/* JUMBO */
.jumbo .container,
.footer .container {
  max-width: 1200px;
}

.jumbo {
  max-height: 650px;
  background-color: rgb(180, 208, 231);
}

.jumbo h1 {
  font-size: 5rem;
  font-weight: 800;
  min-width: 1200px;
}

.jumbo-columns {
  display: flex;
  max-height: 400px;
  min-width: 1200px;
}

.jumbo-small-column {
  padding-top: 30px;
  width: 30%;
  margin-bottom: 10px;
  /* debug */
  /* background-color: antiquewhite; */
}

.jumbo-small-column p {
  font-size: 1.1rem;
  padding-bottom: var(--margin-text);
}

.jumbo-small-column .button {
  width: 250px;
  margin-bottom: var(--margin-text);
}

.jumbo-small-column i {
  font-weight: bold;
}

.jumbo-big-column {
  width: 70%;

  /* debug */
  /* background-color: rgb(210, 197, 182); */
}

.jumbo-big-column img {
  position: relative;
  top: 30px;
}

/* MAIN */
main {
  margin-top: 150px;
}

/* piano business */
.business-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.business-header h2 {
  font-size: 3rem;
}

.business-input {
}

input[type="radio"] {
  width: 1.4rem;
  height: 1.4rem;
}

.business-header label {
  line-height: 1.4rem;
  vertical-align: top;
  padding-left: 0.5rem;
  padding-right: var(--space-basis);
  font-size: 1.3rem;
}

.business-columns .col-3 {
  width: calc(100% / 3 - 23px);
}

.business-columns {
  margin-top: var(--margin-text);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;
  min-height: 1000px;

  /* debug */
  /* background-color: antiquewhite; */
}

/* card */
.business-card {
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--border-color);
}

.card-header {
  text-align: center;
  padding: var(--space-basis) 0;
  border-bottom: 1px solid var(--border-color);
}

.card-container {
  padding: var(--space-basis);
}

.card-title h3 {
  font-size: 1.7rem;
}

.card-title h5 {
  font-size: 1rem;
  font-weight: 900;
  padding: var(--space-basis) 0;
}

.card-title p {
  font-size: 1.2rem;
}

.card-main,
.card-footer ul {
  padding: var(--margin-text) 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-main li,
.card-footer li {
  font-size: 1.1rem;
  display: flex;
  gap: 5px;
}

.card-container .button {
  margin: 10px;
}

.buy-now {
  padding: var(--margin-text) 0;
}

.buy-now a {
  text-decoration: underline;
  color: blue;
}

.buy-now span:first-of-type {
  text-decoration: underline;
  text-underline-offset: var(--margin-text);
}

.card-footer {
  padding-top: var(--margin-text);
}

.card-footer h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-footer i {
  color: rgb(35, 112, 255);
}

.business-columns .col-big {
  width: 100%;
  min-height: 300px;
}

.business-columns .business-card:last-of-type .card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.business-columns .business-card:last-of-type .card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--margin-text);
}

.business-columns .business-card:last-of-type .button {
  width: 350px;
}

/* partner dropbox */

.partner {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  max-height: 500px;
  /* background-color: antiquewhite; */
}

.partner-container {
  display: flex;
}

.partner .partner-col-big {
  width: 60%;
  /* background-color: aqua; */
}
.partner .partner-col-small {
  width: 40%;
  /* background-color: azure; */
  padding: var(--margin-text);
}

.partner-col-small p {
  padding: var(--margin-text) 0;
}

.partner-col-small .button {
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 200px;
}

.partner-col-small .button:hover {
  filter: brightness(0.9);
}

.more-operation {
  min-height: 1000px;
  background-color: rgb(255, 255, 255);
}

.more-operation h2 {
  font-size: 2.2rem;
}

.operation-cards {
  margin-top: var(--margin-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--margin-text);
}

.operation-cards .card {
  width: calc(100% / 3 - var(--margin-text));
}

.operation-cards .card h3 {
  padding-bottom: var(--space-basis);
  font-size: 1.4rem;
}

.clients {
  /* background-color: antiquewhite; */
  margin-top: var(--margin-text);
  margin-bottom: 150px;
}

.clients .text-box {
  min-height: 150px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clients .text-box h2 {
  font-size: 2.5rem;
}

.clients .text-box a {
  font-size: 1rem;
  text-decoration: underline;
  color: blue;
  /* margin-top: 100px; */
}

/* square */
.square {
  display: flex;
}

.big-square {
  height: calc(100vw / 3);
  width: calc(100% / 3);
  background-color: rgb(247, 202, 205);
  /* border: 1px dashed black; */
}

.square-center {
  padding: var(--margin-text);
}

.square-center img {
  max-width: 60%;
}

.square-center p:first-of-type {
  padding: calc(var(--margin-text) + 1rem) 0;
}

.small-squares {
  display: flex;
  flex-wrap: wrap;
}

.small-squares div {
  width: calc(100% / 2);
  height: calc(100% / 2);
  /* background-color: #1b71ff;
  border: 1px dashed white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-squares div > img {
  width: 50%;
  color: rgb(247, 202, 205);
}
.small-squares .smaller-square {
  width: calc(100% - 10%);
  height: calc(100% - 10%);
  background-color: #a2d39b;
}

#square-1 {
  background-color: #d1e9cd;
}

#square-2 {
  background-color: #61082b;
}

#square-3 {
  background-color: #0093ce;
}

#square-4 {
  background-color: #ff1c1c;
}

#square-5 {
  background-color: #d5001f;
}

#square-6 {
  background-color: #b4d0e7;
}

#square-7 {
  background-color: #0d2481;
}

#square-8 {
  background-color: #ffd830;
}

/* prova gratuita */
.free-trial {
  background-color: #b4d0e7;
}

.free-trial .container {
  padding: 130px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.free-trial h2 {
  font-size: 2.5rem;
  max-width: 50%;
}

/* faq */
.faq {
  padding: 150px 0;
}

.faq-list {
  display: flex;
  justify-content: space-between;
  padding: var(--margin-text) 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-weight: 800;
}

.faq-list:hover {
  background-color: rgb(240, 240, 240);
  border: 1px solid white;

  cursor: pointer;
}

.faq h2 {
  font-size: 2.5rem;
  padding-bottom: var(--margin-text);
}

/* FOOTER */
.footer {
  background-color: #000000;
  color: white;
  padding-top: 50px;
}

.footer .container {
  margin-top: 100px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer h3 {
  font-size: 2rem;
}

.footer-columns ul {
  display: flex;
  flex-direction: column;
  padding-top: var(--margin-text);
  padding-bottom: 5rem;
}

.footer-columns ul li {
  padding: calc(var(--space-basis) - 0.5rem);
  font-size: 1rem;
}

.footer-columns ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer .lang {
  display: flex;
  gap: 20px;
  color: grey;
  font-weight: lighter;
  padding: var(--margin-text) 0;
  border-top: 1px solid grey;
}

.footer .lang .lang-select:hover {
  border: 1px solid white;
}
