:root {
  --header-height: 80px;
  --space-basis: 20px;
  --margin-text: 2.5rem;
  --border-color: rgb(212, 212, 212);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  padding: 15px 20px;
  background-color: #1b71ff;
  color: white;
  text-align: center;
}

/* UTILS */
.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 1000px;
}

.col-3 {
  width: calc(100% / 3);
}
/* HEADER */
.header-content {
  min-height: var(--header-height);
  /* line-height: var(--header-height); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;

  /* debug */
  background-color: rgb(255, 255, 255);
}

.header-content nav {
  /* vertical-align: middle; */
}

.left-nav {
  display: flex;
  align-items: flex-end;
  margin-left: var(--space-basis);
}

nav li {
  padding: 0 var(--space-basis);
}

/* JUMBO */
.jumbo .container {
  max-width: 1200px;
  margin-top: 100px;
}

header {
  height: 775px;

  background-color: rgb(180, 208, 231);
}

.jumbo h1 {
  font-size: 4rem;
  font-weight: 900;
}

.jumbo-columns {
  display: flex;
  height: 500px;
}

.jumbo-small-column {
  padding-top: 30px;
  width: 30%;

  /* debug */
  /* background-color: antiquewhite; */
}

.jumbo-small-column p {
  font-size: 1.1rem;
  padding-bottom: var(--margin-text);
}

.jumbo-small-column .button {
  width: 250px;
  margin-bottom: var(--margin-text);
  /* padding: 15px 20px; */
}

.jumbo-small-column i {
  font-weight: bold;
}

.jumbo-big-column {
  width: 70%;

  /* debug */
  /* background-color: rgb(210, 197, 182); */
}

.jumbo-big-column img {
  position: relative;
  top: 30px;
}

/* MAIN */
main {
  margin-top: 150px;
}

/* piano business */
.business-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.business-header h2 {
  font-size: 3rem;
}

.business-input {
}

input[type="radio"] {
  width: 1.4rem;
  height: 1.4rem;
}

.business-header label {
  line-height: 1.4rem;
  vertical-align: top;
  padding-left: 0.5rem;
  padding-right: var(--space-basis);
  font-size: 1.3rem;
}

.business-columns .col-3 {
  width: calc(100% / 3 - 23px);
}

.business-columns {
  margin-top: var(--margin-text);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;
  height: 1000px;
  /* background-color: antiquewhite; */
}

/* card */
.business-card {
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--border-color);
}

.card-header {
  text-align: center;
  padding: var(--space-basis) 0;
  border-bottom: 1px solid var(--border-color);
}

.card-container {
  padding: var(--space-basis);
}

.card-title h3 {
  font-size: 1.7rem;
}

.card-title h5 {
  font-size: 1rem;
  font-weight: 900;
  padding: var(--space-basis) 0;
}

.card-title p {
  font-size: 1.2rem;
}

.card-main,
.card-footer ul {
  padding: var(--margin-text) 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-main li,
.card-footer li {
  font-size: 1.1rem;
  display: flex;
  gap: 5px;
}

.card-container .button {
  margin: 10px;
}

.buy-now {
  padding: var(--margin-text) 0;
}

.buy-now a {
  text-decoration: underline;
  color: blue;
}

.buy-now span:first-of-type {
  text-decoration: underline;
  text-underline-offset: var(--margin-text);
}

.card-footer {
  padding-top: var(--margin-text);
}

.card-footer h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-footer i {
  color: rgb(35, 112, 255);
}

.business-columns .col-big {
  width: 100%;
  height: 300px;
}

.business-columns .business-card:last-of-type .card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.business-columns .business-card:last-of-type .card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--margin-text);
}

.business-columns .business-card:last-of-type .button {
  width: 350px;
}

/* partner dropbox */

.partner {
  margin-top: 500px;
  margin-bottom: 100px;
  height: 500px;
  background-color: antiquewhite;
  display: flex;
}

.partner .partner-col-big {
  width: 60%;
  background-color: aqua;
}
.partner .partner-col-small {
  width: 40%;
  background-color: azure;
  padding: var(--margin-text);
}

.partner-col-small p {
  padding: var(--margin-text) 0;
}

.partner-col-small .button {
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 200px;
}

.more-operation {
  height: 1000px;
  background-color: rgb(255, 255, 255);
}

.more-operation h2 {
  font-size: 2.2rem;
}

.operation-cards {
  margin-top: var(--margin-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--margin-text);
}

.operation-cards .card {
  width: calc(100% / 3 - var(--margin-text));
}

.operation-cards .card h3 {
  padding-bottom: var(--space-basis);
  font-size: 1.4rem;
}
