:root {
  --header-height: 80px;
  --space-basis: 20px;
  --margin-text: 2.5rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  padding: 15px 20px;
  background-color: #1b71ff;
  color: white;
}

/* UTILS */
.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 1000px;
}

/* HEADER */
.header-content {
  min-height: var(--header-height);
  /* line-height: var(--header-height); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;

  /* debug */
  background-color: rgb(255, 255, 255);
}

.header-content nav {
  /* vertical-align: middle; */
}

.left-nav {
  display: flex;
  align-items: flex-end;
  margin-left: var(--space-basis);
}

.right-nav {
}

nav li {
  padding: 0 var(--space-basis);
}

/* JUMBO */
.jumbo .container {
  max-width: 1200px;
  margin-top: 100px;
}

header {
  height: 775px;

  background-color: rgb(180, 208, 231);
}

.jumbo h1 {
  font-size: 4rem;
  font-weight: 900;
}

.jumbo-columns {
  display: flex;
  height: 500px;
}

.jumbo-small-column {
  padding-top: 30px;
  width: 30%;

  /* debug */
  /* background-color: antiquewhite; */
}

.jumbo-small-column p {
  font-size: 1.1rem;
  padding-bottom: var(--margin-text);
}

.jumbo-small-column .button {
  width: 250px;
  margin-bottom: var(--margin-text);
  /* padding: 15px 20px; */

  text-align: center;
}

.jumbo-small-column i {
  font-weight: bold;
}

.jumbo-big-column {
  width: 70%;

  /* debug */
  /* background-color: rgb(210, 197, 182); */
}

.jumbo-big-column img {
  position: relative;
  top: 30px;
}
